.cap {
  position: absolute;
  bottom: 30px;
  left: 0;
  background-image: linear-gradient(to right, #702e3d 0%, #e34e35 100%);
  padding: 4px 15px;
  color: #fff;
  z-index: 10;
  border-radius: 0px 8px 8px 0;

  span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.caption {
  transform-origin: left center;
  color: #fff;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  margin-top: 15px;

}
