.team {
  &.team-classic {
    .team-item {
      .team-item-inner {
        margin-left: 0;

        .team-item-wrapper {
          padding-top: 0;
        }

        .item-content {
          margin-left: 0;
          flex-flow: column;
          text-align: center;
        }

        .box-img {
          flex: 0 0 25%;
          height: auto;
          
          > img{
            position: relative !important;
          }
        }

        .box-text {
          flex: 0 0 100%;
          padding: 0;
        }
      }
    }
  }

  #main-content > section:nth-child(10) > div.dsn-grid-layout.team.team-classic > div > div > div > div > div.box-img.p-relative > .cover-bg-img{
    border-radius: 0px!important;
  }

  .team-item {
    .team-item-inner {
      position: relative;
      margin-left: 50px;
      padding: 15px;
      border: 1px solid $border-color;

      @include media_768 {
        margin-left: 0;
      }

      .team-item-wrapper {
        padding: 25px 0;

        @include media_768 {
          
        }
      }

      .item-content {
        margin-left: -60px;

        @include media_768 {
          margin-left: 0;
          flex-flow: row;
          text-align: center;
          justify-content: center;
          align-items: center;
        }
      }

      .box-img {
        flex: 0 0 20%;
        height: 110px;
        border-radius: 16px;
        
        @include media_768 {
          flex: 0 0 30%;
          height: auto;
          margin-bottom: 0px;
          img{
            width: 260px!important;
          }
        }
      }

      .box-text {
        flex: 0 0 80%;
        padding: 0 20px;

        @include media_768 {
          flex: 0 0 70%;
          padding: 0;
        }

        h4 {
          text-transform: uppercase;
        }

        h5 {
          font-size: 13px;
          letter-spacing: 1.2px;
          padding: 0 1rem;
        }
      }
    }
  }
}